warnings; python_version >= "3.10"
os; python_version >= "3.10"
shutil; python_version >= "3.10"
random; python_version >= "3.10"
itertools; python_version >= "3.10"

opencv-python==4.10.0.84
pandas==2.2.3
numpy==1.26.4
seaborn==0.13.2
matplotlib==3.9.2
tqdm==4.66.5
scikit-learn==1.5.2
tensorflow==2.16.2
keras==3.4.1
streamlit
reportlab
pydicom
